
node_modules/


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
build/


.env
.env.*
!.env.example
!.env*.example


.DS_Store
Thumbs.db


.vscode/


upload/


coverage/


*.tsbuildinfo


coverage/


*.tgz


*.js
!src/**/*.js


*.test.js
*.test.ts


src/migrations/
src/seeders/


package-lock.json
yarn.lock   
package.json